#tablePageList th{
	border: 1px solid  #D3D3D3;
}

#tablePageList td{
	border: 1px solid  #D3D3D3;
}

#tablePageCreate th{
	border: 1px solid  #D3D3D3;
}

#tablePageCreate td{
	border: 1px solid  #D3D3D3;
}