body{
    background-color: pink;
    background-image: url('/media/icon/gravure-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cus-container{
    background-color: rgba(237, 237, 237, 0.502);
}

.gravure-page{
    margin-bottom: 50px;
}
/*==============================================================================
CSS for common
==============================================================================*/
.btn-pink{
    font-size: 14px;
    font-family: "HiraKakuProN";
    color: rgb(215, 82, 139);
    line-height: 1.2;
    border: 1px solid #d37aa1;
    background: #fff;
    color: #da78a5
}
.btn-pink:hover,
.btn-pink:active,
.btn-pink:focus{
    background-color: #ffeef6;
    color: #da78a5
}

/*==============================================================================
CSS for header area
==============================================================================*/
.header-area{
    /*height: 100px;*/
}

.header-area h3{
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-family: "GothicMB101Pro";
    color: rgb(215, 82, 139);
    font-weight: bold;
    line-height: 1.2;
}

.header-area .description{
    font-size: 14px;
    font-family: "HiraKakuProN";
    color: rgb(215, 82, 139);
    line-height: 1.5;
}

/*==============================================================================
CSS for header area
==============================================================================*/
.slide-area{
/*    height: 500px;
    border: 1px solid #ddd;
    background: #eee;*/
    position: relative
}

.slide-area .item{
    /*height: 500px;*/
    background-color: #eee;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s ease all;
    display: block;
}

.slide-area .item .description{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    height: 38px;
    font-size: 18px;
    font-family: "HiraKakuProN";
    color: rgb(0, 0, 0);
    line-height: 1.2;
}

.owl-prev,
.owl-next{
    position: absolute;
    top: 40%;
    display: block!IMPORTANT;
    border:0px solid black;
    background: none !important;
    font-weight: bold;
    font-size: 3em !important;
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}
.owl-prev i, .owl-next i {
    width: 21px;
    height: 31px;
    display: inline-block;
}

.owl-prev i{
    background-image: url('/media/icon/gravure-slide-left.png');
}

.owl-next i {
    background-image: url('/media/icon/gravure-slide-right.png');
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: rgb(215, 82, 139);
}

.owl-theme .owl-nav {
    margin-top: 5px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    background-color: rgba(215, 82, 139, 0.251);
}

/*==============================================================================
CSS for content area
==============================================================================*/
.content-area{
/*    height: 500px;
    border: 1px solid #ddd;
    background: #eee;*/
    margin-top: 30px;
}

.content-area .row {
    /*margin-bottom: 15px;*/
}

.content-area .thumbnail{
    border: none;
    border-radius: 0;
    background-color: #eee;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 7px;
    position: relative;
    padding: 0;
}

.content-area .thumbnail .label-category{
    background-color: rgba(215, 82, 139, 0.8);
    height: 28px;
    display: inline-block;
    padding: 3px;
    position: relative;
    top: 0;
    left: 0;
    font-size: 14px;
    font-family: "HiraKakuProN";
    color: rgb(255, 255, 255);
    padding: 5px;
}

.content-area .title{
    font-weight: bold;
    /*margin-bottom: 7px;*/
    margin-top: 0;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: "HiraKakuProN";
    line-height: 1.333;
    /*display: inline-block;*/
}
@media (min-width: 992px) {
    .content-area .title{
        display: inline-block;
    }
}


.content-area .description{
    color: #848484;
    font-size: 1.2em;
    margin-top: 5px;
}

.content-area .icon-video{
    background-image: url('/media/icon/video.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 61px;
    width: 61px;
    display: inline-block;
}

.content-area .btn-group-bottom{
    margin: 20px 0px;
}
/*==============================================================================
CSS for photo area
==============================================================================*/
.photobook-area{
    margin-top: 40px;
}

.photobook-area .photobook-header .photobook-title{
    background-image: url('/media/icon/photobook-title.png');
    height: 100px;
    width: 240px;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.photobook-area .photobook-header .photobook-icon{
    background-image: url('/media/icon/photobook-icon.png');
    height: 100px;
    width: 100px;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.photobook-area .photobook-header .pull-right{
    padding-top: 37.5px;
}

@media (max-width: 480px) {
    .photobook-area .photobook-header .photobook-title{
        height: 50px;
        width: 120px;
    }

    .photobook-area .photobook-header .photobook-icon{
        height: 50px;
        width: 50px;
    }
    
    .photobook-area .photobook-header .pull-right{
        padding-top: 10px;
    }
}

.photobook-area .photobook-list .row{
    padding-right: 10px;
    padding-left: 10px;
}

.photobook-area .photobook-list .row > div{
    padding: 5px 5px;
}

.photobook-area .photobook-list .photobook{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /*background-color: #eee;*/
    /*border: 1px solid #ddd;*/
    position: relative
}

.digital-type {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding: 3px;
    color: white;
    display: inline-block;
}

/*==============================================================================
CSS for Sidebar
==============================================================================*/
.gravure-sidebar > h3{
  font-size: 24px;
  font-family: "GothicMB101Pro";
  color: rgb(215, 82, 139);
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.gravure-sidebar .gravure-rank-thumb,
.gravure-sidebar .gravure-video-thumb{
    width: 64px;
    height: 65px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #eee;
}

.gravure-sidebar .gravure-rank-list > a,
.gravure-sidebar .gravure-video-list > a{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

/* CSS for ranking */
.gravure-rank {
    background-image: url('/media/icon/gravure-rank-bg.png');
    background-position: right top;
    background-repeat: no-repeat;
    padding-top: 10px
}

.gravure-rank-list > a .media-heading {
  font-size: 16px;
  font-family: "HiraKakuProN";
  color: rgb(0, 0, 0);
  line-height: 1.125;
}

.gravure-rank-list > a:hover .media-heading {
  color: rgb(76, 76, 76);
}

.gravure-rank-list > a .media{
    background-position: 75px top;
    background-repeat: no-repeat;
}

.gravure-rank-list > a:first-child .media{
    background-image: url('/media/icon/gravure-rank-1.png');
}

.gravure-rank-list > a:nth-child(2) .media{
    background-image: url('/media/icon/gravure-rank-2.png');
}

.gravure-rank-list > a:nth-child(3) .media{
    background-image: url('/media/icon/gravure-rank-3.png');
}

.gravure-rank-list > a:nth-child(4) .media{
    background-image: url('/media/icon/gravure-rank-4.png');
}

.gravure-rank-list > a:nth-child(5) .media{
    background-image: url('/media/icon/gravure-rank-5.png');
}

/* CSS for video */
.gravure-video-list .gravure-video-thumb{
    position: relative;
}

.gravure-video-list .icon-video{
    background-image: url('/media/icon/video.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 3px;
    right: 3px;
    height: 23px;
    width: 23px;
    display: inline-block;
}